* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.hero,
header {
    background-color: #1f2937;
}

.header-nav {
    display: flex;
    padding: 24px 12vw;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 1000;
}

.nav-ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
}

.hero-content-sub-text,
.nav-ul li {
    color: #e5e7eb;
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    padding: 72px 12vw;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-content-sub-text {
    margin: 18px 0;
}

.cta-button,
.hero-content-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
}

.hero-content-button {
    border: none;
}

.hero-img {
    min-width: 500px;
    max-height: 250px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 48px 12vw 96px 12vw;
    align-items: center;
    gap: 48px;
}

.info-header-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 0 1 200px;
}

.card-img {
    max-width: 200px;
    border-radius: 8px;
    /* image background #c2e4f0 */
}

.card-title {
    color: #1f2937;
    font-size: 18px;
    font-weight: 600;
}

.card-text {
    color: #36454F;
    text-align: center;
}

.testimonial {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 96px 20vw;
    gap: 16px;
}

.testimonial-quote {
    align-self: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #36454F;
}

.testimonial-client {
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.cta {
    padding: 96px 12vw;
}

.cta-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 48px 96px;
    border-radius: 8px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    gap: 8px;
}

.cta-main-text {
    font-weight: bold;
    font-size: 24px;
}

.cta-sub-text {
    font-size: 16px;
}

.cta-button {
    border-color: #f9faf8;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    padding-top: 36px;
    padding-bottom: 36px;
    color: #f9faf8;
}
